<!DOCTYPE html>
<html>
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge" />
	<title>example</title>
	<style>
		html {
			height:100%;
		}
		body {
			background-color:#FFF;
			margin:0;
			height:100%;
		}
	</style>
	<!-- copy these lines to your document head: -->

	<meta name="viewport" content="user-scalable=yes, width=600" />
	
	
	<!-- An example template definition object for SPX. -->
<!-- Place it as the last item within the HEAD section -->

<script src="js/spx_interface.js"></script>
<script>
    window.SPXGCTemplateDefinition = {
        "description": "Top left with icon",
        "playserver": "OVERLAY",
        "playchannel": "1",
        "playlayer": "7",
        "webplayout": "7",
        "steps" : "1",
        "out": "manual",
        "uicolor": "2",
        "dataformat": "json",
        "DataFields": [
            {
                "ftype" : "instruction",
                "value" : "A example demo template definition. Learn what it does and make use of it's capabilities."
            },
            {
                "field" : "f0",
                "ftype" : "textfield",
                "title" : "Info text",
                "value" : ""
            },
            {
                "field": "f1",
                "ftype": "dropdown",
                "title": "Select logo scaling",
                "value": "0.3",
                "items": [
                    {
                        "text": "Tiny logo",
                        "value": "0.3"
                    },
                    {
                        "text": "Huge logo",
                        "value": "1.2"
                    }
                ]
            },
            {
                "field" : "f2",
                "ftype" : "textarea",
                "title" : "Multiline field",
                "value" : "First line\nSecond line\n\nFourth one"
            },
            {
                "ftype" : "divider"
            },
            {
                "field": "f3",
                "ftype": "filelist",
                "title": "Choose background image from global ASSETS-folder",
                "assetfolder" : "/media/images/bg/" ,
                "extension" : "png",
                "value": "/media/images/bg/checker.png",
            },
            {
                "field": "f4",
                "ftype": "filelist",
                "title": "Choose CSS stylesheet from template's relative styles-folder",
                "assetfolder" : "./styles/" ,
                "extension" : "css",
                "value": "./styles/defaultStyle.css",
            },
            {
                "field": "f5",
                "ftype": "number",
                "title": "Rotation degrees",
                "value": "45",
            },
            {
                "field": "f6",
                "ftype": "checkbox",
                "title": "Show logo",
                "value": "1",
            },
            {
                "field": "f7",
                "ftype": "button",
                "title": "Click me",
                "descr": "Describe button function here",
                "fcall": "myCustomHello('world')"
            },
            {
                "ftype:": "spacer"
            },
            {
                "field": "f8",
                "ftype": "color",
                "title": "Text color",
                "value": "rgba(255, 255, 255, 1.0)"
            }
        ]
    };
</script>

	<!-- end copy -->
  </head>
  <body>
	<!-- copy these lines to your document: -->

	<div id="example_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:600px;height:400px;overflow:hidden;">
		<script type="text/javascript" charset="utf-8" src="example.hyperesources/example_hype_generated_script.js?99533"></script>
	</div>

	<!-- end copy -->
  </body>
</html>
